<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="ConfHibernateCompraVenta">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/compraventa</property>
        <property name="hibernate.connection.username">root</property>  
        <property name="hibernate.connection.password">admin</property>     
		<property name="connection.autocommit">true</property>
    	<property name="show_sql">true</property>
    	<property name="format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <mapping  class="com.compraventa.entidades.Usuarios" />
        <mapping  class="com.compraventa.entidades.Subcategoria" />
        <mapping  class="com.compraventa.entidades.Categoria" />
        <mapping  class="com.compraventa.entidades.Productos" />
          <mapping  class="com.compraventa.entidades.Seccion" />
    </session-factory>
    
    
</hibernate-configuration>
